@font-face {
  font-family: 'NotoSans Regular';
  font-weight: normal;
  src: url('./fonts/NotoSansKR-Regular.woff') format('woff');
}

body {
  font-family: 'NotoSans Regular';
}

body {
  margin: 0px;
  width: 100%;
  background-color: rgba(245, 245, 245, 1);
}
