@font-face {
  font-family: 'NotoSans';
  src: url('../src/fonts/NotoSansKR-Medium.ttf');
}

body * {
  font-family: 'NotoSans';
}

body {
  margin: 0px;
  width: 100%;
  background-color: rgba(245, 245, 245, 1);
}
