.Header {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  background-color: rgba(108, 108, 108, 1);
}

.Header > div {
  display: flex;
  color: white;
}

.Header .headerCenter {
  width: 80%;
  justify-content: center;
}

.Header .headerLeft {
  width: 10%;
  justify-content: left;
}

.Header .headerRight {
  width: 10%;
  justify-content: right;
}
